**/credentials.json
**/prsnl.txt
**/del/
**/__pycache__/
# git rm -r --cached **/__pycache__/
node_modules
.next
.env*.local
.DS_Store

# Dependencies
/node_modules
/.pnp
.pnp.js
.pnpm-store/

# Next.js
/.next/
/out/

# Production builds
/build

# Local environment files
.env

# Vercel
.vercel

# TypeScript
*.tsbuildinfo
next-env.d.ts

# Logs & debugging
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Testing & coverage
/coverage

# Misc
*.pem

# Editor/IDE folders
.idea/
.vscode/*
!.vscode/extensions.json
dxta/credentials.json
credentials.json
